# Config file for the ArXiV Notifier Bot
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# Copyright David Chan, 2018


#### General Configuration

# How old of papers should the bot send you?
HISTORY_DAYS = 1

#### Mailgun configuration ####
# API Key, has the format "key-********************************"
MAILGUN_API_KEY = key-********************************
# The root for mailgun, has the format "https://api.mailgun.net/v3/XXXXXX"
MAILGUN_ROOT    = https://api.mailgun.net/v3/XXXXXX
# The mailgun from email, has the format "Person Name <person_email@domain.com>"
MAILGUN_FROM    = Person Name <person_email@domain.com>
# Mailgun destination emails, have the form "person@domain.com"
MAILGUN_TO      = person@domain.com
# MAILGUN_TO = recipient_2@dummy.com

#### CLAUDE Configuration ####
# API Key for anthropic API: https://docs.anthropic.com/claude/reference/getting-started-with-the-api
CLAUDE_API_KEY = "********************************"

#### Keywords ####
# You can have as many as you like
KEYWORD = Monkey
KEYWORD = Bicycles
